// Scss Document

#happy {
  ~ .option-happy {
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
  }
  &:checked ~ .option-happy {
  background: green;
  }
}

#sad {
  ~ .option-sad {
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"), auto;
  }
  &:checked ~ .option-sad {
    background: red;
  }
}

#meh {
  ~ .option-meh {
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/meh.png"), auto;
  }
  &:checked ~ .option-meh {
    background: orange;
  }
}