@charset "utf-8";
/* CSS Document - index.html act4 */

html {
    scroll-behavior: smooth;
}

body{
    max-width: 960;
    background-color: #000000;
    background-image:url("../images/starry-night.jpg");
    background-repeat: repeat-y;
    background-size: contain;
    color:azure;
    font-family: 'Crimson Pro', serif;
}

/**************LOADER**************/
#preloader{
    background: black url("../images/moon red eclipse.gif") no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.disclaimer{
    margin-top: 500px;
    text-align: center;
}

/***************BODY***************/
.contents{
     margin: 0px 30px;
}

.titlepage{
    font-family:'Lemon', cursive;
    font-weight: 300;
    text-align: center;
    text-shadow: 0 0 5px black;
    display: flex;
}

.background{
    width: 85%;
    height: auto;
    position:absolute;
    top: 0px;
    left: 107px;
    margin-left: 10px;
}

.title-header{
    position: relative;
    top:200px;
    right:-200px;
}

.titlepage h1{
    animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.mayari-name{
    font-size: 72px;
    color:goldenrod;
}

.mayari-title{
    font-size: 50px;
    color:goldenrod;
}

.intro-mayari{
    margin-top: 500px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
}

.floating{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    opacity: 50%;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.ins-floating{
    display: flex;
    flex-direction: row; 
}

.aurora{
    width: 750px;
}

.aurora1{
    width: 600px;
    padding-right: 30px;
    padding-top: 100px;
    transform: scaleX(-1);
}

.mountain{
    width: 100%;
    height: 100vh;
    background-size: cover;
    position:absolute;
    top: 780px;
    left: 0px;
}

.warrior-hr{
    width: 360px;
    margin-left: 150px;
    position:absolute;
    top: 880px;
    left: 0px;
    width: 3%;
}

.warrior{
    margin-left: 125px;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    position:absolute;
    top: 880px;
    left: 0px;
    font-style: italic;
    background-color: black;
}

.warrior2{
    opacity: 0%;
    width: 360px;
    padding-left: 150px;
    position:absolute;
    top: 880px;
    left: 0px;
}
.warrior2:hover{
    opacity: 100%;
}


/*.mayari-sprite{
    height: 1585px;
    top: 880px;
    left:0px;
    position: absolute;
    overflow: hidden;
}
.warrior{
    animation: moveSpritesheet 1s steps(4) infinite;
}
@keyframes moveSpritesheet{
    from {
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(0,-100%,0)
    }
}*/

.intro-mayari h2{
    font-family:'Lemon', cursive;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    overflow: hidden;
    top: 800px;
    left: 700px;
    margin: 30px;
}

.part1{
    position:absolute;
    top: 875px;
    left: 700px;
    margin: 30px;
    overflow: hidden;
}

.story{
    padding-top: 130px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.storysprite{
    display: flex;
    justify-content: center;
    position: absolute;
    padding-top: 420px;
}

.static{
    width: 70%;
    height: auto;
    opacity: 100%;
}
.static:hover{
    opacity: 0%;
}

.active{
    opacity: 0%;
    width: 70%;
    height: auto;
    position: absolute;
}
.active:hover{
    opacity: 50%;
}

.storytext{
    text-align: center;
    margin: 30px 200px;
}

.story h2{
    font-family:'Lemon', cursive;
    font-weight: 300;
    font-size: 30px;
}

.fightstory{
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 430px;
    border-style: double;
    border-color: azure;
    border-width: 5px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 20px;
}

.storyhover{
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 150px;
    padding-right: 100px;
    text-align: center;
}

.family{
    margin: 100px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: justify;
}

.family-story{
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.family h4{
    font-family:'Lemon', cursive;
    font-weight: 300;
    margin-left: 100px;
}

.family h5{
    font-family:'Lemon', cursive;
    font-weight: 300;
}

.members{
    margin: 10px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.bathala-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-color: azure;
    border-width: 3px;
    padding-bottom: 10px;
}

.bathala-box img{
    width: 235px;
    padding-top: 55px;
    align-self: center;
    transition: all .2s ease-in-out;
}
.bathala-box img:hover{
    transform: scale(1.1);
}

.bathala-box a{
    text-decoration: none;
    color: plum;
}

.apolaki-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-style: solid;
    border-color: azure;
    border-width: 3px;
    padding-bottom: 10px;
}

.apolaki-box img{
    width: 240px;
    padding-top: 40px;
    align-self: center;
    transition: all .2s ease-in-out;
}
.apolaki-box img:hover{
    transform: scale(1.1);
}

.apolaki-box a{
    text-decoration: none;
    color: plum;
}

.hanan-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-color: azure;
    border-width: 3px;
    padding-top: 6px;
}

.hanan-box img{
    width: 265px;
    transition: all .2s ease-in-out;
}
.hanan-box img:hover{
    transform: scale(1.1);
}

.hanan-box a{
    text-decoration: none;
    color: plum;
}

.mayari-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-color: azure;
    border-width: 3px;
    padding-bottom: 10px;
}

.mayari-box img{
    width: 280px;
    transition: all .2s ease-in-out;
}
.mayari-box img:hover{
    transform: scale(1.1);
}

.mayari-box a{
    text-decoration: none;
    color: plum;
}

.tala-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-color: azure;
    border-width: 3px;
    padding-bottom: 5px;
}

.tala-box img{
    width: 265px;
    transition: all .2s ease-in-out;
}
.tala-box img:hover{
    transform: scale(1.1);
}

.tala-box a{
    text-decoration: none;
    color: plum;
}

.tala-box p{
    padding-top: 10px;
}



/***************SECTION***************/
.section {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
    justify-content: space-evenly;
    margin-bottom: 100px;
    padding-top: 30.5px;
}

.references{
    padding: 10px 20px;
    line-height: 3px;
}

.references p{
    margin: 30px;
}


.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

.main-title{
    font-family:'Lemon', cursive;
}

.thoughts {
    background-color: none;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    border: medium solid #FFFFFF;
}

.bttns {
    display: flex;
    justify-content: space-evenly;
}

.button1 {
    color: #FFFFFF;
    border: medium solid #FFFFFF;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 14px;
    display: inline-block;
    background-color: black;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition-duration: 0.2s;
}
.button1:hover {
    background-color: #313131;
    color: white;
    cursor: pointer;
}

.button2 {
    color: #FFFFFF;
    border: medium solid #FFFFFF;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 14px;
    display: inline-block;
    background-color: black;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition-duration: 0.2s;
}
.button2:hover {
    background-color: #313131;
    color: white;
    cursor: pointer;
}



/***************SOUND***************/
.bgm{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 175px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between
}

.bgm hr{
    width: 1%;
}

.warning{
    font-family:'Lemon', cursive;
    font-size: 14px;
    margin-left: 30px;
}

/***************FOOTER***************/
footer{
    margin: auto;
    background-color: aliceblue;
    opacity: 60%;
    padding-bottom: 30px;
}

footer p{
    color: #000000;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-weight: 500;
    font-size: 12px;
}

.creator{
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-right: 200px;
}

.creator p{
    margin: auto;
    display: flex;
    align-items: stretch;
    padding-top: 30px;
    margin-left: 190px;
}

.csb-icons{
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 30px;
    margin-left: 300px;
    margin-right: 5px;
}

.csb-icons img{
    width: 100px;
}

hr.solid {
  border-top: 3px solid #bbb;
    width: 87%;
    margin: auto;
}

.social-icons{
    display: flex;
    align-items: baseline;
    justify-content: center;
    column-gap: 15px;
    list-style: none;
    color: white;
    padding-top: 30px;
}

.social-icons img{
    width: 30px;
    filter: invert(1);
}

.copyright{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    padding: 30px;
}



